
*{
  box-sizing: border-box
}

/* NAV */

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  font-family: "Poiret One", cursive;
  font-size: 20px;

}

.nav a {
  font-weight: bold;
  color: white;
  padding: 20px;
}

.nav a.router-link-exact-active {
  color: #070b0f;
  /* color: #2c3e50; */
  
}

.nav a:hover{
  color: #070b0f;
}
.nav--show{
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
  background-color: white;
  
}

.nav--show a{
  color: black;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* space between nav and rest of body */
.space{
  padding-top: 100px;
}

/* Landing Page */

.background-landing {
    background: url("../images/artur-rutkowski-GdTLaWamFHw-unsplash.jpeg") no-repeat center fixed;
    min-height: 95vh;
    background-size:cover;
    position: relative;
  }
  
  

/* Listing Page */

.background-listing{
/*   background: url("../images/markus-winkler-5qrrqfSsIfg-unsplash.jpeg") no-repeat center fixed,  url("../images/shumilov-ludmila-j7X_hySaUa4-unsplash.jpeg"), url("../images/okeykat-lfubXm-MW0U-unsplash.jpeg") no-repeat center fixed; */
  background: url("../images/markus-winkler-5qrrqfSsIfg-unsplash.jpeg") no-repeat center fixed,  url("../images/gabriel-gurrola-fcgPRZmTM5w-unsplash.jpeg") no-repeat center fixed;
  background-size:100vmax;
  background-blend-mode:multiply;
  min-height: 100vh;
  background-size:cover;
  
  
/*  position: relative; */
  
}



  /* About Page */
.space-about{
  padding-top: 160px;
}
.nav--about{
  background-color: transparent;
}
.nav--about-bis{
  background-color: white;
}
.nav--about a{
  color: black;
}
  .about{
    background: url("../images/markus-winkler-RQxYIQMsS5M-unsplash.jpeg") no-repeat center fixed;
    min-height: 100vh;
    background-size:80vmax;
    background-size:cover;
    
  
  }

  .text-about{
     font-size: 20px;
      width: 80%;
      margin: auto;
  }

  /* profile */
  .banner-bg{
 background: url("../images/alexander-sergienko-VMMfXKElJdw-unsplash.jpeg") no-repeat center fixed;
 background-size: cover;
height: 30vh;
  }
  .background-profile{
    background-color: rgba(231, 224, 224, 0.7);
  }

  .background-historik{
    background: url("../images/alexander-sergienko-VMMfXKElJdw-unsplash.jpeg") no-repeat center fixed;
    min-height: 100vh;
    background-size:80vmax;
    background-size:cover;
     }

  @media (max-width: 768px){
    .nav {
      font-size: 18px;
    }
    
    .nav a {
      padding: 20px 6px;
    }
  
  }