
*{
  box-sizing: border-box
}

/* NAV */

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  font-family: "Poiret One", cursive;
  font-size: 20px;

}

.nav a {
  font-weight: bold;
  color: white;
  padding: 20px;
}

.nav a.router-link-exact-active {
  color: #070b0f;
  /* color: #2c3e50; */
  
}

.nav a:hover{
  color: #070b0f;
}
.nav--show{
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
  background-color: white;
  
}

.nav--show a{
  color: black;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Nav Phone */
.navphone{
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
 
  z-index: 999;
  width: 100%;
  font-family: "Poiret One", cursive;
  font-size: 20px;
}

.navphone  a{
  color: white;
  font-weight: bold;
}
.phone-nav--about a{
  color: black;
}


.navphone-two{
  
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content:space-between;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  font-family: "Poiret One", cursive;
  font-size: 25px;
  background-color: white;
}
.navphone-two a.router-link-exact-active {
  color: #dc9614;
  /* color: #2c3e50; */
  
}

.navphone-two a{
  color: black;
  text-decoration: none;
}
.phone-log-btn {
  font-family: inherit;
  color: black;
  font-weight: bold;
  padding: 0 4px;
  margin-right: 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 18px;
}


/* space between nav and rest of body */
.space{
  padding-top: 100px;
}

/* Landing Page */

.background-landing {
    background: url("../images/artur-rutkowski-GdTLaWamFHw-unsplash.jpeg") no-repeat center fixed;
    min-height: 95vh;
    background-size:cover;
    position: relative;
  }
  
  

/* Listing Page */

.background-listing{
  background: url("../images/markus-winkler-5qrrqfSsIfg-unsplash.jpeg") no-repeat center fixed,  url("../images/gabriel-gurrola-fcgPRZmTM5w-unsplash.jpeg") no-repeat center fixed;
  background-size:100vmax;
  background-blend-mode:multiply;
  min-height: 100vh;
  background-size:cover;
}

  /* About Page */
.space-about{
  padding-top: 160px;
}
.nav--about{
  background-color: transparent;
}
.nav--about-bis{
  background-color: white;
}
.nav--about a{
  color: black;
}
  .about{
    background: url("../images/markus-winkler-RQxYIQMsS5M-unsplash.jpeg") no-repeat center fixed;
    min-height: 100vh;
    background-size:80vmax;
    background-size:cover;
  }

  .text-about{
     font-size: 20px;
      width: 80%;
      margin: auto;
  }

  /* profile */

  .banner-bg{
 background: url("../images/alexander-sergienko-VMMfXKElJdw-unsplash.jpeg") no-repeat center fixed;
 background-size: cover;
height: 30vh;
  }
.background-profile{
    background-color: rgba(231, 224, 224, 0.7);
  }

  .background-historik{
    background: url("../images/alexander-sergienko-VMMfXKElJdw-unsplash.jpeg") no-repeat center fixed;
    min-height: 100vh;
    background-size:80vmax;
    background-size:cover;
     }

  @media (max-width: 768px){
    .nav {
      font-size: 18px;
    }
    
    .nav a {
      padding: 20px 6px;
    }
  
  }